/* FONTS */
@font-face {
    font-family: A1MinChoStd-Bold;
    src: url(font/A1MinChoStd-Bold.otf);
}

/* COLOR */
.bg-blue {
    background-color: #20559d;
}
.bg-dblue {
    color: #013e8d;
}
section {
    margin-bottom: 6vw;
}
p {
    margin: 0px;
}

/* HEADER */
.navbar {
    padding: 0vw;
}
.navbar-brand, .nav-link{
    font-family: 'Montserrat', sans-serif;;
    font-size: 2vw;
    margin: 1.5vw 0vw 0vw 3vw;
    position: absolute;
    z-index: 1;
}
.btn-entry {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    margin: 2vw 2vw 0vw 0vw;
    padding: 0.5vw 2vw;
    z-index: 1;
}
.fa-bars {
    color: #20559d;
    font-size: 3.5vw;
    z-index: 1;
    position: sticky;
    margin: 2vw 3vw 0vw 0vw;
}
.header .img-fluid {
    margin-top: -5.6vw;
    position: relative;
}
h1 {
    /*font-family: A1MinChoStd-Bold;*/
    font-family: 'Noto Serif JP', serif;
    font-size: 5.35vw;
    margin-top: -38.5vw;
    margin-bottom: 35vw;
    z-index: 1;
    position: sticky;
}

/*TECHNICAL INFO*/
.container.tech-info {
    background-color: white;
    margin-top: -12vw;
    padding-top: 3.5vw;
    font-family: 'Noto Serif JP', serif;
    z-index: 1;
    position: relative;
}
h2 {
    font-family: 'Crimson Text', serif;
    font-size: 4.2vw;
    margin-bottom: 1vw;
}
.grey {
    color: #666666;
    font-weight: 300;
    font-size: 1.25vw;
    margin-bottom: 2.5vw;
}
.tech-desc {
    font-weight: 700;
    font-size: 1.5vw;
    margin-bottom: 0.25vw;
}

/* PROJECT FILES */
.project {
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.col-project {
    padding: 0px;
}
.overlay-blue {
    width: 100%;
    height: 32.5vw;
    background-color: #013e8d;
    opacity: 0.85;
    position: absolute;
}
.project-info {
    font-family: 'Crimson Text', serif;
    font-size: 1.3vw;
    margin-top: -22vw;
    z-index: 1;
    position: relative;
}
.p-num {
    font-size: 4vw;
    margin-bottom: 2vw;
}
.p-num::after{
    content: '';
    display: block;
    border-bottom: 0.15vw solid #FFFFFF;
    width: 5%;
    margin: auto;
}
.p-project-detail {
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    font-size: 1.5vw;
    margin-bottom: 11vw;
}

/* AIM INFO */
.p-aim {
    font-family: 'Noto Serif JP', serif;
    font-size: 3vw;
    margin: -15vw 0vw 4vw 0vw;
}
.aim-info {
    font-family: 'Crimson Text', serif;
    font-size: 1.7vw;
    margin-bottom: 0vw;
    padding: 0vw;
}
.b-aim {
    border-top: 1px solid white;
    margin-left: 60vw;
    padding: 0px;
}

/* PROJECT STORY */
.project-story {
    margin-top: 2vw;
}
.img-co {
    width: 68%;
    margin-top: 8vw;
}
.bg-grey {
    background-color: #e5e5e5;
    height: 24vw;
    margin-top: -19vw;
}
.crimson {
    font-family: 'Crimson Text', serif;
    font-size: 5vw;
    margin-bottom: 8vw;
}
.right {
    margin-top: -27vw;
    margin-left: 71.5vw;
    
}
.col-story {
    margin-bottom: 3.5vw;
}
.btn-story {
    margin-left: 49vw;
    background-color: #002554;
    padding: 1.3vw 2vw;
    font-size: 1vw;
}
.s-story {
    margin-left: 17vw;
    font-size: 2vw;
}

/* WORK STYLE */
.work-style {
    padding: 0px;
    margin: 0px;
}
.left {
    margin-top: -27vw;
    margin-left: 5.3vw;
}
.g-style {
    margin-top: 20vw;
}

/* INTERVIEW */
.p-interview {
    margin-top: -8vw;
    color: #666666;
    font-size: 1vw;
}

/* SECTION 7 */
.section7 {
    margin-top: 22.5vw;
}
.section7 .row {
    width: 100%;
}
.bg-s7 {
    position: relative;
}
.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    margin: -44vw 0vw 0vw 15vw;
    grid-gap: 1vw;
    z-index: 1;
    position: absolute;
}
.s7-info {
    background-color: #FFFFFF;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.25vw;
    font-weight: 600;
    padding: 0.5vw 0vw 1vw 2vw;
}
span.arrow {
    margin-left: 17.5vw;
}

/* BLOG */
.blog{
    font-family: 'Noto Serif JP', serif;
    font-size: 1vw;
    font-weight: 300;
}
.h-blog {
    font-family: 'Crimson Text', serif;
    font-size: 4vw;
}
.p-blog-1 {
    color: #666666;
    font-size: 1.25vw;
}
.grid-container-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 2vw 0vw 0vw 15vw;
    grid-gap: 1vw;
    z-index: 1;
    position: absolute;
}
.p-news {
    color: #013e8d;
    margin: 1vw 0vw 0.5vw 0vw;
}
.s-news {
    color: #999999;
    margin-left: 1vw;
}
.btn-blog {
    color: #666666;
    margin-top: 25vw;
    padding: 0.5vw 3vw;
    background-color: white;
    border-color: #e9e9ec;
}

/* RECRUIT */
.grid-container-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 70%;
    margin: 2vw 0vw 0vw 15vw;
    grid-gap: 1vw;
    z-index: 1;
    position: absolute;
}
.card-recruit {
    background-color: #FFFFFF;
    height: 12.5vw;
    border-top: 0.3vw solid #002554;
    padding-top: 3vw;
}
.p-recruit {
    font-family: 'Noto Serif JP', serif;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 1vw;
}
.img-footer {
    margin-top: 10vw;
}

/* FOOTER */
.footer {
    background-color: #002554;
    margin-top: -6vw;
    margin-bottom: 0vw;
    padding: 2vw 3vw;
    font-family: 'Noto Serif JP', serif;
    font-size: 1vw;
    font-weight: 300;
}
.float-right {
    float: right;
}

/*======= SMARTPHONE ======= */
@media screen and (max-width: 768px) {
    .header .img-fluid {
        margin-top: -6.7vw;
    }
    .container.tech-info {
        margin-top: 0vw;
    }
    .p-aim {
        margin-top: -17vw;
    }
    .col-story {
        margin-top: -2vw;
        margin-bottom: 0.5vw;
    }
}
/*======= IPAD POTRAIT ======= */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .container {
        width: 70%;
    }
    .container.tech-info {
        margin-top: -12vw;
    }
    .p-aim {
        margin-top: -15vw;
    }
    .col-story{
        margin-top: -1vw;
        margin-bottom: 1.5vw;
    }
}